<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.jmi.dgsx.dao.gl_teacherMapper">
  <resultMap id="BaseResultMap" type="edu.jmi.dgsx.po.gl_teacher">
    <id column="gl_Account_id" jdbcType="VARCHAR" property="glAccountId" />
    <result column="gl_Account_name" jdbcType="VARCHAR" property="glAccountName" />
    <result column="gl_outline" jdbcType="VARCHAR" property="glOutline" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gl_teacher
    where gl_Account_id = #{glAccountId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.jmi.dgsx.po.gl_teacher">
    insert into gl_teacher (gl_Account_id, gl_Account_name, gl_outline
      )
    values (#{glAccountId,jdbcType=VARCHAR}, #{glAccountName,jdbcType=VARCHAR}, #{glOutline,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="edu.jmi.dgsx.po.gl_teacher">
    update gl_teacher
    set gl_Account_name = #{glAccountName,jdbcType=VARCHAR},
      gl_outline = #{glOutline,jdbcType=VARCHAR}
    where gl_Account_id = #{glAccountId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select gl_Account_id, gl_Account_name, gl_outline
    from gl_teacher
    where gl_Account_id = #{glAccountId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select gl_Account_id, gl_Account_name, gl_outline
    from gl_teacher
  </select>
</mapper>